<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<body>
<div th:fragment="admin-search-pagination">
    <div>
        <span>
            <strong style="margin-right: 15px;">Total Posts: [[${totalItems}]]</strong>

        <span style="margin-right: 15px;">
            <span style="margin-right: 5px" th:each="i : ${#numbers.sequence(1, totalPages)}">
                <a th:if="${currentPage != i}" th:href="@{'/admin/posts/search?query=' + ${query} + '&page=' + ${i}}">[[${i}]]</a>
                <span th:unless="${currentPage != i}">[[${i}]]</span>
            </span>
        </span>

        <span style="margin-right: 5px">
            <a th:if="${currentPage < totalPages}"
               th:href="@{'/admin/posts/search?query=' + ${query} + '&page=' + ${currentPage + 1}}">Next</a>
            <span th:unless="${currentPage < totalPages}">Next</span>
        </span>

        <span>
            <a th:if="${currentPage < totalPages}"
               th:href="@{'/admin/posts/search?query=' + ${query} + '&page=' + ${totalPages}}">Last</a>
            <span th:unless="${currentPage < totalPages}">Last</span>
        </span>

        </span>
    </div>
</div>

</body>
</html>