<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="~{blog/header :: header}"></div>
<body>
<div th:replace="${role} == 'ROLE_CLIENT' ? ~{blog/header :: navbar} : ~{admin/header :: navbar}"></div>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div th:each="adminPost : ${adminPosts}">
                <div class="card">
                    <div class="card-header">
                        <h2>
                            <span class="bg-warning rounded py-1 px-1" style="font-size: 16px">Admin</span>
                            <strong><a class="text-dark" style="text-decoration: none" th:href="@{/post/{postUrl}(postUrl=${adminPost.url})}" th:text="${adminPost.title}"></a></strong>
                        </h2>
                        <div>
                            <span class="text-secondary" th:text="${#temporals.format(adminPost.createdOn, 'MMMM dd, yyyy')}"></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <span th:utext="${adminPost.shortDescription}"> </span>
                        <a class="text-primary" th:href="@{/post/{postUrl}(postUrl=${adminPost.url})}">Read more</a>
                    </div>
                </div>
                <br/>
            </div>
            <div th:each="post : ${postsResponse}"> <!-- HAD TO BE CHANGED FOR PAGINATION -->
                <div class="card">
                    <div class="card-header">
                        <h3>
                            <a class="text-dark" style="text-decoration: none" th:href="@{/post/{postUrl}(postUrl=${post.url})}" th:text="${post.title}"></a>
                        </h3>
                        <div>
                            <span class="text-secondary" th:text="${#temporals.format(post.createdOn, 'MMMM dd, yyyy')}"></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <span th:utext="${post.shortDescription}"> </span>
                        <a class="text-primary" th:href="@{/post/{postUrl}(postUrl=${post.url})}">Read more</a>
                    </div>
                </div>
                    <br/>
            </div>

            <!-- pagination -->

            <div th:if="${totalPages > 1}">
                <div class = "row my-3">
                    <span>
                        <span style="margin-right: 15px;">Total Posts: [[${totalItems}]]</span>

                    <span style="margin-right: 15px;">
                        <span style="margin-right: 5px" th:each="i : ${#numbers.sequence(1, totalPages)}">
                            <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}">[[${i}]]</a>
                            <span th:unless="${currentPage != i}">[[${i}]]</span>
                        </span>
                    </span>

                    <span style="margin-right: 5px">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}}">Next</a>
                        <span th:unless="${currentPage < totalPages}">Next</span>
                    </span>

                    <span>
                        <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}}">Last</a>
                        <span th:unless="${currentPage < totalPages}">Last</span>
                    </span>

                    </span>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <!-- search bar goes here -->
            <div th:replace="~{blog/search :: search}"></div>
        </div>
    </div>
</div>

<div th:replace="~{blog/footer :: footer}"></div>
</body>
</html>