<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="~{blog/header :: header}"></div>
<body>
<div th:replace="${role} == 'ROLE_CLIENT' ? ~{blog/header :: navbar} : ~{admin/header :: navbar}"></div>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h4 th:if="${query != null && query != ''}">
                <span th:text="${totalItems}"></span>
                <span th:text="${totalItems == 1 ? 'result' : 'results'}"></span> for
                "<strong th:text="${query}" />"
            </h4>
            <div th:each="adminPost : ${adminPosts}">
                <div class="card">
                    <div class="card-header">
                        <h2>
                            <span class="bg-warning rounded py-1 px-1" style="font-size: 16px">Admin</span>
                            <strong><a class="text-dark" style="text-decoration: none" th:href="@{/post/{postUrl}(postUrl=${adminPost.url})}" th:text="${adminPost.title}"></a></strong>
                        </h2>
                        <div>
                            <span class="text-secondary" th:text="${#temporals.format(adminPost.createdOn, 'MMMM dd, yyyy')}"></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <span th:utext="${adminPost.shortDescription}"> </span>
                        <a class="text-primary" th:href="@{/post/{postUrl}(postUrl=${adminPost.url})}">Read more</a>
                    </div>
                </div>
                <br/>
            </div>
            <div th:each="post : ${postsResponse}"> <!-- HAD TO BE CHANGED FOR PAGINATION -->
                <div class="card">
                    <div class="card-header">
                        <h3>
                            <a class="text-dark" style="text-decoration: none" th:href="@{/post/{postUrl}(postUrl=${post.url})}" th:text="${post.title}"></a>
                        </h3>
                        <div>
                            <span class="text-secondary" th:text="${#temporals.format(post.createdOn, 'MMMM dd, yyyy')}"></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <span th:utext="${post.shortDescription}"> </span>
                        <a class="text-primary" th:href="@{/post/{postUrl}(postUrl=${post.url})}">Read more</a>
                    </div>
                </div>
                    <br/>
            </div>

            <!-- pagination -->

            <div th:if="${totalPages > 1}">
                <div th:replace="${query == null || query == ''} ? ~{blog/main-pagination} : ~{blog/search-pagination}"></div>
            </div>

        </div>
        <div class="col-md-3">
            <!-- search bar goes here -->
            <div th:replace="~{blog/search :: search}"></div>
        </div>
    </div>
</div>

<div th:replace="~{blog/footer :: footer}"></div>
</body>
</html>